@charset "UTF-8";

:root {
  --cor01: #FFFFFF;
  --cor02: #000000;
  --cor03: #676f9d;
  --cor04: #424769;
  --cor05: #2d3250;
  --cor06: #f9b17a;
  --cor07: #d8a47f;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-size: 1em;
  background-color: #FFFFFF;
}

header {
  width: 100vw;
  height: 40px;
  background-color: var(--cor05);
  text-transform: uppercase;
}

header > p {
  text-align: center;
  color: #fff;
  padding: 5px;
}

/*----- sessão de tecnologias -----

section#tecno {
  background-color: white;
  margin: 15px;
  border-radius: 15px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7);
}

section#tecno > p {
  padding: 5px;
  text-align: center;
  color: black;
}

ul {
  display: flex;
  justify-content: space-evenly;
}

li {
  list-style-type: none;
  padding: 5px;
}

li > img {
  border-radius: 10px;
  width: 100px;
  height: 100px;
}

----- fim sessão de tecnologias -----*/

/*----- sessão de tecnologias -----*/

section#tecno {
  background-color: red;
  width: 80vw;
  border-radius: 0px 10px 10px 0px;
}

section#tecno > p {
  
}

ul {
  
}

li {
  
}

li > img {
  width: 100px;
  height: 100px;
  
}

/*----- fim sessão de tecnologias -----*/

footer {
  width: 100vw;
  height: 50px;
  background-color: var(--cor05);
}